<div class='intro'>
    <div>

    </div>
    <div class="cinema">
        <h1 class='title'>Cinema Ironhack</h1>
        <a class="check-movies" href="/movies">Check the movies!</a>
    </div>


</div>


